#!/bin/bash
export IPDATA_API_KEY="8d922861b637ddda96bb49bd4039ca0a73213227da2af078c14377f2"
export LISTEN_ADDR=":443"
export CERT_FILENAME="/etc/letsencrypt/live/obliviate.site/fullchain.pem"
export CERTKEY_FILENAME="/etc/letsencrypt/live/obliviate.site/privkey.pem"
export ENABLE_METRICS="true"
export METRICS_LISTEN_ADDR=":444"
export VERBOSE="true"
export POSTGRES_DSN="postgres://ffff:seer@IP/KeenEye"